body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  
.mydiv {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    color: #333;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: gray;
}


#book {
    color:white;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: #333;
}

.sensation {
    color:#333;
}

.author{
    color: #333;
    border: 1px solid pink;
    border-radius: 10px;
}
